@charset "UTF-8";

/*em HTML é id = em CSS é # (Só pode um elemento)
em HTM é class = em CSS é . (pode varios elementos)
id > class
podemos colocar mais de uma class em um elemento apenas dando espaço
ex: "CLASS = "DESTAQUE AZUL" sendo DESTAQUE uma class e AZUL outra class 
*/

body{
    background-color:#D6FDE9;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: #1E402F;
}

h1#principal { 
    text-align: center;
    background-color: #3C805E;
    color: white;
}

h2{
    color:#3C805E;
}

.basico{
    color: #3c805e;
    font-weight: bolder;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}
.destaque{
    background-color: #c5c56070;
}